@import '../../styles/varibles.scss';

.cl-header{
    width: 100%;
    background: #ffffff;
    .view-width{
        width: $view_width;
        margin:0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .lf-menu{
          padding: 15px 0;
          display: flex;
          align-items: center;
          .logo{
            width: 40px;
            height: 40px;
            margin-right: 40px;
          }
          > ul {
            margin-bottom: 0;
          }
          > ul li{
            display: inline-block;
            padding-right: 40px;
            font-size: 16px;
            cursor: pointer;
          }
          .menu_active{
              color: red
          }
        }
        .rg-oper > button{
            margin-right: 20px;
        }
    }
}